body {
    background-image: url(../images/A22.jpeg);
    background-size: cover;
    background-position: center;
   }


.vision {
    width: 800px;
    height: 440px;
    border-color: rgb(58, 87, 62);
    border-style: double;
    border-width: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color:yellow;
    margin:60px auto;
    padding-top: 20px;
    padding-left: 20px;
}